[submodule "lib/miniz"]
	path = lib/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "lib/tinyxml2"]
	path = lib/tinyxml2
	url = https://github.com/tomtasche/tinyxml2.git
[submodule "lib/glog"]
	path = lib/glog
	url = https://github.com/tomtasche/glog.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/ios-cmake"]
	path = lib/ios-cmake
	url = git@github.com:leetal/ios-cmake.git
