[submodule "lib/miniz"]
	path = lib/miniz
	url = https://github.com/richgel999/miniz.git
[submodule "lib/tinyxml2"]
	path = lib/tinyxml2
	url = https://github.com/tomtasche/tinyxml2.git
[submodule "lib/glog"]
	path = lib/glog
	url = https://github.com/tomtasche/glog.git
[submodule "lib/cryptopp"]
	path = lib/cryptopp
	url = https://github.com/TomTasche/cryptopp.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
