* {
    margin: 0;
    position: relative;
}
body {
    padding: 5px;
}

x-p {
    display: block;
    font-size: 0;
}
x-s {
    display: inline;
}

/* https://github.com/marcelblanarik/js-keyword-highlighter/blob/dd69436bee06f8c658abe1e12e2abb35d3bf250b/index.html#L81-L82 */
mark { background: yellow; }
mark.current { background: orange; }
