table {
    border-collapse: collapse;
    table-layout: fixed;
}
td {
    vertical-align: bottom;
    text-overflow: ellipsis;
    height: inherit;
}

x-p {
    font-family: "Arial", serif;
    font-size: 10pt;
}
td x-p {
    height: inherit;
}

.odr-gridlines-none table td {}
.odr-gridlines-soft table td {
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
}
.odr-gridlines-hard table td {
    border: 1px solid #C0C0C0 !important;
}

table td.odr-value-type-float {
    text-align: right;
}
