name: build_test

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      matrix:
        config:
          - { os: ubuntu-20.04, arch: x86_64, cc: clang, cxx: clang++}
          - { os: macos-10.15, arch: x86_64, cc: clang, cxx: clang++}

    steps:
      - name: ubuntu install ccache
        if: startsWith(matrix.config.os, 'ubuntu')
        run: sudo apt install ccache tidy
      - name: macos install ccache
        if: startsWith(matrix.config.os, 'macos')
        run: brew install ccache tidy-html5

      - name: checkout
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.PAT_ANDIWAND }}
          submodules: true

      - name: set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: install python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r test/scripts/requirements.txt

      - name: ccache
        uses: actions/cache@v1
        with:
          path: ~/.ccache
          key: ${{ matrix.config.os }}-${{ matrix.config.arch }}-${{ matrix.config.cxx }}-rev5

      - name: cmake
        env:
          CC: ${{ matrix.config.cc }}
          CXX: ${{ matrix.config.cxx }}
        run: |
          mkdir -p build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release ..
      - name: make
        run: |
          cd build
          cmake --build . -- -j4

      - name: test
        working-directory: build/test
        run: ./odr_test

      - name: tidy public test outputs
        run: python3 -u test/scripts/tidy_test_output.py build/test/output/odr-public
      - name: tidy private test outputs
        run: python3 -u test/scripts/tidy_test_output.py build/test/output/odr-private

      - name: compare public test outputs
        run: python3 -u test/scripts/compare_test_outputs.py test/data/reference-output/odr-public build/test/output/odr-public
      - name: compare private test outputs
        run: python3 -u test/scripts/compare_test_outputs.py test/data/reference-output/odr-private build/test/output/odr-private
