name: format

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - run: clang-format-15 --version

      - name: checkout
        uses: actions/checkout@v4

      - name: apply clang-format
        run: |
          FILES=$( find . -type f \( -iname \*.h -o -iname \*.cpp \) )
          clang-format-15 --style=file -i $FILES

      - run: git diff --exit-code --name-only
