name: format

on: push

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: apply clang-format
        run: CLANG_FORMAT=clang-format-18 ./scripts/format

      - run: git diff --exit-code --name-only
