name: format

on: pull_request

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - run: clang-format --version

      - name: checkout
        uses: actions/checkout@v2

      - name: apply clang-format
        run: |
          FILES=$( find . -type f \( -iname \*.h -o -iname \*.cpp \) )
          clang-format-12 --style=file -i $FILES

      - run: git diff --exit-code --name-only
