name: tidy

on: pull_request

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: ubuntu install clang-tidy
        run: |
          sudo apt install clang-tidy-12
          clang-tidy-12 --version

      - name: set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: install python dependencies
        run: |
          pip install --upgrade pip
          pip install conan

      - name: setup odr conan repo
        run: |
          conan remote add odr-conan-repo https://odr.jfrog.io/artifactory/api/conan/odr-conan
          conan config set general.revisions_enabled=1

      - name: checkout
        uses: actions/checkout@v2

      # TODO remove
      - run: conan info .

      - name: cmake
        run: |
          mkdir -p build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ..

      - name: clang-tidy
        run: |
          FILES=$( find . -path ./build -prune -false -o -type f \( -iname \*.cpp \) )
          clang-tidy-12 -p build -header-filter '.*' $FILES
