name: tidy

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: true
      matrix:
        config:
          - { os: ubuntu-22.04, compiler: clang-15, cc: clang-15, cxx: clang++-15 }
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - run: clang-tidy --version

      - name: setup python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: install python dependencies
        run: pip install --upgrade pip conan

      - name: conan remote
        run: conan remote add --index 0 odr https://artifactory.opendocument.app/artifactory/api/conan/conan
      - name: conan config
        run: conan config install .github/config/${{ matrix.config.os }}-${{ matrix.config.compiler }}/conan
      - name: conan install
        run: conan install . --build=missing

      - name: cmake
        run: >
          cmake -S . -B build
          -DCMAKE_TOOLCHAIN_FILE=build/Release/generators/conan_toolchain.cmake
          -DCMAKE_BUILD_TYPE=Release
          -DODR_CLANG_TIDY=ON

      - name: clang-tidy
        run: cmake --build build
