name: tidy

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - run: clang-tidy --version

      - name: set up python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: install python dependencies
        run: pip install --upgrade pip conan==1.*

      - name: checkout
        uses: actions/checkout@v2

      - name: cmake
        run: cmake -B build -S . -GNinja -DCMAKE_BUILD_TYPE=Release -DODR_CLANG_TIDY

      - name: clang-tidy
        run: cmake --build build
